<div class="text-center">
  <h1>{{title}}</h1>

  <nav class="nav-wrap">
    <ul>
      <li><a class="button" ng-click="clearFilter()">Neighborhoods</a>
        <ul>
          <li><a ng-click="zipcodeFilter('90024')">Westwood</a></li>
          <li><a ng-click="zipcodeFilter('90230,90066')">Del Rey / Mar Vista</a></li>
          <li><a ng-click="zipcodeFilter('90034')">Palms</a>
          <li><a ng-click="zipcodeFilter('90004')">Mid-City</a></li>
          <li><a ng-click="zipcodeFilter('90026')">Silver Lake / Echo Park</a></li>
        </ul>
      </li>
    </ul>
    <a class="button" ng-click="mapDisplay()">Map</a>
    <a class="button" ng-click="clearFilter()">Reset</a>
  </nav>
</div>

<list></list>

<div class="hide">
  <map></map>
</div>
