.grid-container {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.grid {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item {
  width: 30%;
  height: auto;
  margin: 20px 0;
  padding: 20px 0;
  background: white;
  font-weight: bold;
  text-align: center;
  border: 1px solid $gold;
}

.grid-item h2 {
  color: $light-gold;
  font-size: 1.5em;
  line-height: 30px;
}

.grid-item h3 {
  color: $gray;
  font-size: 1em;
  line-height: 21px;
}
